*{font-family: 'Raleway', sans-serif;}

p{
	font-size: .85em;
	font-weight: lighter;
	line-height: 1.5;
	margin-top: 20px;
}
body{
	max-width: 100%;
	margin: auto;
}
.flex-video { 
	position: relative; 
	padding-bottom: 53.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden; 
}
.flex-video, .flex-video iframe { 
	max-width: 1280px; 
	max-height: 720px; 
}
.flex-video iframe { 
	position: absolute; 
	top: 0;
	left: 0; 
	width: 100%; 
	height: 100%; }
.row{
	background: #f7f7f7;
}
.project-title{
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 800;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding: 1em 0;
}

nav ul.left{
	padding-top: 0.7em;
}
nav ul.left a{
	color: #fff;
	text-transform: uppercase;
}
footer nav ul.left li{
	margin-right: 2em;
	padding: .2em 0;
}
.top-bar.expanded{
	background: #f7f7f7;
}
.top-bar.expanded ul.left li{
	padding: 0.5em 0;
}
.top-bar.expanded a{
	color: #333;
}
footer{
	margin-top: 2em;
}
footer ul li{
	font-size: .75em;
}
footer .top-bar ul.title-area li.name h1{
	font-size: .75em;
}
footer nav ul.right{
	padding-right: 10px;
	padding-top: 2px;
}
h2{
	font-weight: 400;
	font-size: 1.3em;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	border-top: 3px solid #fff;
	padding-top: 15px;

}
img.displayed{
	padding-top: 30px;
}